<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
    <title>登录页面</title>
    <link rel="shortcut icon" href="http://www.soshinetech.com/favicon.ico">
</head>
<body>
<div class="container" id="login_container">
    <div class="row clearfix" id="login_clearfix">
        <div class="col-md-4 column">
        </div>
        <div class="col-md-4 column">
            <div class="jumbotron" id="login_frame">
                <h1 class="text-center" style="margin-bottom: 40px">SoshineSee</h1>
                <h2 class="text-center">精准农林飞行与数据服务</h2>
                <br>
                <form method = 'post' enctype="multipart/form-data">
                    {{uf.as_p}}
                    <input type="submit" value = "登录" />
                </form>
                <br>
                <a href="http://127.0.0.1:8000/account/register/">注册新账户</a>
            </div>
        </div>
        <div class="col-md-4 column">
        </div>
    </div>
</div>
</body>
</html>



