<div class="intro" id="sysintro" >
    <p>
        功能介绍
    </p>
</div>

<div class="intro"  id="Aintro" style="display:none">
    <h3>博罗镇罗阳县</h3>
    <p>
        农林用地8920公顷，有林面积8533公顷，种植率97.5%，绿化率80.8%，覆盖率45.1%。完成天然林管护和生态公益林改造，其中，实施林管护面积2500亩、生态公益林改造面积2500亩、育林木苗5.5万株、义务植树5.5万株。粮食种植面积2.8万亩，农作物播种面积6.69万亩。
    </p>
    <table border="1" width="100%">
        <tbody>
            <tr><td rowspan="2">土地权属</td><td>集体</td><td>国有</td><td></td></tr>
            <tr>                            <td>90%</td><td>10%</td><td></td></tr>
            <tr><td rowspan="2">地类</td><td>乔木林</td><td>疏林地</td><td></td></tr>
            <tr>                            <td>93%</td><td>7%</td><td></td></tr>

            <tr><td rowspan="4">林种</td><td>水土保持</td><td>环境保护</td><td>工业用材</td></tr>
            <tr>                        <td>39%</td><td>3%</td><td>16%</td></tr>

            <tr>                        <td>护路林</td><td>水源涵养</td><td>纪念林</td></tr>
            <tr>                        <td>3%</td><td>1%</td><td>38%</td></tr>

            <tr><td rowspan="2">起源</td><td>人工</td><td>天然</td><td></td></tr>
            <tr>                        <td>21%</td><td>79%</td><td></td></tr>

            <tr><td rowspan="2">森林类别</td><td>公益林</td><td>商品林</td><td></td></tr>
            <tr>                            <td>83%</td><td>17%</td><td></td></tr>

            <tr><td rowspan="2">事权等级</td><td>地方公益</td><td>国家公益</td><td>非公益林</td></tr>
            <tr>                            <td>46%</td><td>37%</td><td>17%</td></tr>

            <tr><td rowspan="2">龄组</td><td>幼龄林</td><td>近龄林</td><td>中龄林</td></tr>
            <tr>                        <td>13%</td><td>5%</td><td>76%</td></tr>
        </tbody>
    </table>

</div>

<div class="intro"  id="Bintro0001" style="display:none">
    <table border="1" width="100%">
        <tbody>
            <tr><td>林班</td><td>0001</td><td></td><td></td></tr>
            <tr><td rowspan="2">坡向</td><td>北</td><td>无</td><td></td></tr>
            <tr>                            <td>38.4%</td><td>61.6%</td><td></td></tr>
            <tr><td rowspan="2">坡位</td><td>中</td><td></td><td></td></tr>
            <tr>                            <td>100%</td><td></td><td></td></tr>
            <tr><td rowspan="2">坡度</td><td>平</td><td>缓</td><td></td></tr>
            <tr>                            <td>38.4%</td><td>61.6%</td><td></td></tr>

            <tr><td>面积</td><td>24公顷</td><td></td><td></td></tr>

            <tr><td rowspan="2">地类</td><td>乔木林</td><td>疏林地</td><td></td></tr>
            <tr>                            <td>98%</td><td>2%</td><td></td></tr>

            <tr><td rowspan="4">林种</td><td>水土保持</td><td>环境保护</td><td></td></tr>
            <tr>                        <td>38.4%</td><td>61.6%</td><td></td></tr>

            <tr><td rowspan="2">起源</td><td>天然</td><td></td><td></td></tr>
            <tr>                        <td>100%</td><td></td><td></td></tr>

            <tr><td rowspan="2">森林类别</td><td>公益林</td><td></td><td></td></tr>
            <tr>                            <td>100%</td><td></td><td></td></tr>

            <tr><td rowspan="2">事权等级</td><td>地方公益</td><td></td><td></td></tr>
            <tr>                            <td>100%</td><td></td><td></td></tr>

            <tr><td rowspan="2">龄组</td><td>幼龄林</td><td>近龄林</td><td></td></tr>
            <tr>                        <td>90.6%</td><td>9.4%</td><td></td></tr>

            <tr><td>优势树种</td><td>云南松</td><td></td><td></td></tr>
            <tr><td>株数</td><td>28795</td><td></td><td></td></tr>
        </tbody>
    </table>
</div>

<div class="intro"  id="Bintro0002" style="display:none">
    <table border="1" width="100%">
        <tbody>
            <tr><td>林班</td><td>0002</td><td></td><td></td></tr>
            <tr><td rowspan="2">坡向</td><td>南</td><td>无</td><td></td></tr>
            <tr>                            <td>99.4%</td><td>0.6%</td><td></td></tr>
            <tr><td rowspan="2">坡位</td><td>高</td><td>中</td><td>低</td></tr>
            <tr>                            <td>30%</td><td>50%</td><td>20%</td></tr>
            <tr><td rowspan="2">坡度</td><td>平</td><td>缓</td><td></td></tr>
            <tr>                            <td>15.4%</td><td>74.6%</td><td></td></tr>

            <tr><td>面积</td><td>34公顷</td><td></td><td></td></tr>

            <tr><td rowspan="2">地类</td><td>乔木林</td><td>疏林地</td><td></td></tr>
            <tr>                            <td>98%</td><td>2%</td><td></td></tr>

            <tr><td rowspan="4">林种</td><td>水土保持</td><td>环境保护</td><td></td></tr>
            <tr>                        <td>44.4%</td><td>56.6%</td><td></td></tr>

            <tr><td rowspan="2">起源</td><td>天然</td><td></td><td></td></tr>
            <tr>                        <td>100%</td><td></td><td></td></tr>

            <tr><td rowspan="2">森林类别</td><td>公益林</td><td></td><td></td></tr>
            <tr>                            <td>100%</td><td></td><td></td></tr>

            <tr><td rowspan="2">事权等级</td><td>地方公益</td><td></td><td></td></tr>
            <tr>                            <td>100%</td><td></td><td></td></tr>

            <tr><td rowspan="2">龄组</td><td>幼龄林</td><td>近龄林</td><td>中龄林</td></tr>
            <tr>                        <td>24.5%</td><td>19.4%</td><td>56.1</td></tr>

            <tr><td>优势树种</td><td>云南松</td><td></td><td></td></tr>
            <tr><td>株数</td><td>41151</td><td></td><td></td></tr>
        </tbody>
    </table>
</div>

<!--BL 0001 0001-->
<div class="intro"  id="Cintro00010001" style="display:none">
    <div class="tabbable" id="tabs-00010001">
        <ul class="nav nav-tabs">
            <li>
                 <a href="#panel-00010001intro" data-toggle="tab">小班信息</a>
            </li>
            <li class="active">
                 <a href="#panel-00010001loc" data-toggle="tab">数据报告</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" id="panel-00010001intro">
                <table border="1" width="100%">
					<tr><td>林班</td><td>0001</td></tr>
                    <tr><td>小班</td><td>0001</td></tr>
                    <tr><td>坡向</td><td>北</td></tr>
                    <tr><td>坡位</td><td>中</td></tr>
                    <tr><td>坡度</td><td>缓</td></tr>
                    <tr><td>面积</td><td>29.02</td></tr>
                    <tr><td>土地权属</td><td>集体</td></tr>
                    <tr><td>地类</td><td>乔木林</td></tr>
                    <tr><td>林种</td><td>水土保持林</td></tr>
                    <tr><td>起源</td><td>天然</td></tr>
                    <tr><td>森林类别</td><td>公益林</td></tr>
                    <tr><td>事权等级</td><td>地方公益林</td></tr>
                    <tr><td>公益林等级</td><td>1</td></tr>
                    <tr><td>龄组</td><td>中龄林</td></tr>
                    <tr><td>郁闭度</td><td>0.30</td></tr>
                    <tr><td>优势树种</td><td>榕树</td></tr>
                    <tr><td>平均胸径</td><td>24</td></tr>
                    <tr><td>公顷蓄积</td><td>10.0</td></tr>
                    <tr><td>平均高</td><td>10</td></tr>
                    <tr><td>公顷株数</td><td>214</td></tr>
                    <tr><td>保护等级</td><td>3</td></tr>
                    <tr><td>虫害株数</td><td>4</td></tr>
                    <tr><td>单株蓄积</td><td>0.047</td></tr>
                    <tr><td>小班株数</td><td>6225</td></tr>
                    <tr><td>百分比</td><td>0.00048</td></tr>
                </table>
            </div>
            <div class="tab-pane active" id="panel-00010001loc">
               <table border="1" width="100%">
                    <tr><th>ID</th><th>经纬度</th><th>范围</th><th>株树</th></tr>
					<tr><td>1</td><td>114.20018, 23.12273</td><td>5m</td><td>1</td></tr>
                    <tr><td>2</td><td>114.1998, 23.12268</td><td>20m</td><td>3</td></tr>


                </table>
            </div>
        </div>
    </div>
</div>
<!--BL 0001 0002-->
<div class="intro"  id="Cintro00010002" style="display:none">
    <div class="tabbable" id="tabs-00010002">
        <ul class="nav nav-tabs">
            <li>
                 <a href="#panel-00010002intro" data-toggle="tab">小班信息</a>
            </li>
            <li class="active">
                 <a href="#panel-00010002loc" data-toggle="tab">数据报告</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" id="panel-00010002intro">
                <table border="1" width="100%">
					<tr><td>林班</td><td>0001</td></tr>
                    <tr><td>小班</td><td>0002</td></tr>
                    <tr><td>坡向</td><td>南</td></tr>
                    <tr><td>坡位</td><td>中</td></tr>
                    <tr><td>坡度</td><td>缓</td></tr>
                    <tr><td>面积</td><td>29.02</td></tr>
                    <tr><td>土地权属</td><td>集体</td></tr>
                    <tr><td>地类</td><td>乔木林</td></tr>
                    <tr><td>林种</td><td>水土保持林</td></tr>
                    <tr><td>起源</td><td>天然</td></tr>
                    <tr><td>森林类别</td><td>公益林</td></tr>
                    <tr><td>事权等级</td><td>地方公益林</td></tr>
                    <tr><td>公益林等级</td><td>1</td></tr>
                    <tr><td>龄组</td><td>中龄林</td></tr>
                    <tr><td>郁闭度</td><td>0.30</td></tr>
                    <tr><td>优势树种</td><td>榕树</td></tr>
                    <tr><td>平均胸径</td><td>24</td></tr>
                    <tr><td>公顷蓄积</td><td>10.0</td></tr>
                    <tr><td>平均高</td><td>10</td></tr>
                    <tr><td>公顷株数</td><td>214</td></tr>
                    <tr><td>保护等级</td><td>3</td></tr>
                    <tr><td>虫害株数</td><td>4</td></tr>
                    <tr><td>单株蓄积</td><td>0.047</td></tr>
                    <tr><td>小班株数</td><td>6225</td></tr>
                    <tr><td>百分比</td><td>0.00048</td></tr>
                </table>
            </div>
            <div class="tab-pane active" id="panel-00010002loc">
               <table border="1" width="100%">
                    <tr><th>ID</th><th>经纬度</th><th>范围</th><th>株树</th></tr>
					<tr><td>1</td><td>114.1 23.2</td><td>5m</td><td>1</td></tr>
                    <tr><td>2</td><td>114.1998, 23.12268</td><td>20m</td><td>3</td></tr>


                </table>
            </div>
        </div>
    </div>
</div>
<!--BL 0001 0003-->
<div class="intro"  id="Cintro00010003" style="display:none">
    <div class="tabbable" id="tabs-00010003">
        <ul class="nav nav-tabs">
            <li>
                 <a href="#panel-00010003intro" data-toggle="tab">小班信息</a>
            </li>
            <li class="active">
                 <a href="#panel-00010003loc" data-toggle="tab">数据报告</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" id="panel-00010003intro">
                <table border="1" width="100%">
					<tr><td>林班</td><td>0001</td></tr>
                    <tr><td>小班</td><td>0003</td></tr>
                    <tr><td>坡向</td><td>北</td></tr>
                    <tr><td>坡位</td><td>中</td></tr>
                    <tr><td>坡度</td><td>缓</td></tr>
                    <tr><td>面积</td><td>29.02</td></tr>
                    <tr><td>土地权属</td><td>集体</td></tr>
                    <tr><td>地类</td><td>乔木林</td></tr>
                    <tr><td>林种</td><td>水土保持林</td></tr>
                    <tr><td>起源</td><td>天然</td></tr>
                    <tr><td>森林类别</td><td>公益林</td></tr>
                    <tr><td>事权等级</td><td>地方公益林</td></tr>
                    <tr><td>公益林等级</td><td>1</td></tr>
                    <tr><td>龄组</td><td>中龄林</td></tr>
                    <tr><td>郁闭度</td><td>0.30</td></tr>
                    <tr><td>优势树种</td><td>榕树</td></tr>
                    <tr><td>平均胸径</td><td>24</td></tr>
                    <tr><td>公顷蓄积</td><td>10.0</td></tr>
                    <tr><td>平均高</td><td>10</td></tr>
                    <tr><td>公顷株数</td><td>214</td></tr>
                    <tr><td>保护等级</td><td>3</td></tr>
                    <tr><td>虫害株数</td><td>4</td></tr>
                    <tr><td>单株蓄积</td><td>0.047</td></tr>
                    <tr><td>小班株数</td><td>6225</td></tr>
                    <tr><td>百分比</td><td>0.00048</td></tr>
                </table>
            </div>
            <div class="tab-pane active" id="panel-00010003loc">
               <table border="1" width="100%">
                    <tr><th>ID</th><th>经纬度</th><th>范围</th><th>株树</th></tr>
					<tr><td>1</td><td>114.1, 23.3</td><td>5m</td><td>1</td></tr>
                    <tr><td>2</td><td>114.1998, 23.12268</td><td>20m</td><td>3</td></tr>


                </table>
            </div>
        </div>
    </div>
</div>
<!--BL 0002 0001-->
<div class="intro"  id="Cintro00020001" style="display:none">
    <div class="tabbable" id="tabs-00020001">
        <ul class="nav nav-tabs">
            <li>
                 <a href="#panel-00020001intro" data-toggle="tab">小班信息</a>
            </li>
            <li class="active">
                 <a href="#panel-00020001loc" data-toggle="tab">数据报告</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" id="panel-00020001intro">
                <table border="1" width="100%">
					<tr><td>林班</td><td>0002</td></tr>
                    <tr><td>小班</td><td>0001</td></tr>
                    <tr><td>坡向</td><td>北</td></tr>
                    <tr><td>坡位</td><td>中</td></tr>
                    <tr><td>坡度</td><td>缓</td></tr>
                    <tr><td>面积</td><td>29.02</td></tr>
                    <tr><td>土地权属</td><td>集体</td></tr>
                    <tr><td>地类</td><td>乔木林</td></tr>
                    <tr><td>林种</td><td>水土保持林</td></tr>
                    <tr><td>起源</td><td>天然</td></tr>
                    <tr><td>森林类别</td><td>公益林</td></tr>
                    <tr><td>事权等级</td><td>地方公益林</td></tr>
                    <tr><td>公益林等级</td><td>1</td></tr>
                    <tr><td>龄组</td><td>中龄林</td></tr>
                    <tr><td>郁闭度</td><td>0.30</td></tr>
                    <tr><td>优势树种</td><td>榕树</td></tr>
                    <tr><td>平均胸径</td><td>24</td></tr>
                    <tr><td>公顷蓄积</td><td>10.0</td></tr>
                    <tr><td>平均高</td><td>10</td></tr>
                    <tr><td>公顷株数</td><td>214</td></tr>
                    <tr><td>保护等级</td><td>3</td></tr>
                    <tr><td>虫害株数</td><td>4</td></tr>
                    <tr><td>单株蓄积</td><td>0.047</td></tr>
                    <tr><td>小班株数</td><td>6225</td></tr>
                    <tr><td>百分比</td><td>0.00048</td></tr>
                </table>
            </div>
            <div class="tab-pane active" id="panel-00020001loc">
               <table border="1" width="100%">
                    <tr><th>ID</th><th>经纬度</th><th>范围</th><th>株树</th></tr>
					<tr><td>1</td><td>114.2, 23.1</td><td>5m</td><td>1</td></tr>
                    <tr><td>2</td><td>114.1998, 23.12268</td><td>20m</td><td>3</td></tr>


                </table>
            </div>
        </div>
    </div>
</div>
<!--BL 0002 0002-->
<div class="intro"  id="Cintro00020002" style="display:none">
    <div class="tabbable" id="tabs-00020002">
        <ul class="nav nav-tabs">
            <li>
                 <a href="#panel-00020002intro" data-toggle="tab">小班信息</a>
            </li>
            <li class="active">
                 <a href="#panel-00020002loc" data-toggle="tab">数据报告</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" id="panel-00020002intro">
                <table border="1" width="100%">
					<tr><td>林班</td><td>0002</td></tr>
                    <tr><td>小班</td><td>0002</td></tr>
                    <tr><td>坡向</td><td>北</td></tr>
                    <tr><td>坡位</td><td>中</td></tr>
                    <tr><td>坡度</td><td>缓</td></tr>
                    <tr><td>面积</td><td>29.02</td></tr>
                    <tr><td>土地权属</td><td>集体</td></tr>
                    <tr><td>地类</td><td>乔木林</td></tr>
                    <tr><td>林种</td><td>水土保持林</td></tr>
                    <tr><td>起源</td><td>天然</td></tr>
                    <tr><td>森林类别</td><td>公益林</td></tr>
                    <tr><td>事权等级</td><td>地方公益林</td></tr>
                    <tr><td>公益林等级</td><td>1</td></tr>
                    <tr><td>龄组</td><td>中龄林</td></tr>
                    <tr><td>郁闭度</td><td>0.30</td></tr>
                    <tr><td>优势树种</td><td>榕树</td></tr>
                    <tr><td>平均胸径</td><td>24</td></tr>
                    <tr><td>公顷蓄积</td><td>10.0</td></tr>
                    <tr><td>平均高</td><td>10</td></tr>
                    <tr><td>公顷株数</td><td>214</td></tr>
                    <tr><td>保护等级</td><td>3</td></tr>
                    <tr><td>虫害株数</td><td>4</td></tr>
                    <tr><td>单株蓄积</td><td>0.047</td></tr>
                    <tr><td>小班株数</td><td>6225</td></tr>
                    <tr><td>百分比</td><td>0.00048</td></tr>
                </table>
            </div>
            <div class="tab-pane active" id="panel-00020002loc">
               <table border="1" width="100%">
                    <tr><th>ID</th><th>经纬度</th><th>范围</th><th>株树</th></tr>
					<tr><td>1</td><td>114.2, 23.2</td><td>5m</td><td>1</td></tr>
                    <tr><td>2</td><td>114.1998, 23.12268</td><td>20m</td><td>3</td></tr>


                </table>
            </div>
        </div>
    </div>
</div>